<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.expensemanager">

    <!-- Required permission for accessing Wi-Fi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseManaGer"
        tools:targetApi="31">
        <!-- RegistrationActivity (Launcher Activity) -->
        <activity
            android:name=".RegistrationActivity"
            android:label="Registration Activity"
            android:exported="true"
            android:theme="@style/Theme.ExpenseManaGer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExpenseManaGer">
            <!-- Remove intent filter from MainActivity -->
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home Activity"
            android:exported="true"
            android:theme="@style/Theme.ExpenseManaGer">
        </activity>
    </application>
</manifest>
